---
export const prerender = false;

import { eq, db, BooksTable } from "astro:db";
import { Button } from "@/components/ui/button";

import BaseLayout from "@/layouts/BaseLayout.astro";
import type { ProcessedBook } from "@/types/Books";

const { id } = Astro.params;

if (!id) {
	return Astro.redirect("/");
}

const book = await db
	.select()
	.from(BooksTable)
	.where(eq(BooksTable.id, Number(id)));

if (!book) {
	return Astro.redirect("/");
}

const { title, author, cover } = book[0] as unknown as ProcessedBook;
---

<BaseLayout>
    <h1>{title}</h1>
    <p>{author}</p>
    {
        cover.url && (
            <img src={cover.url} alt={title} class="w-48" />
        )
    }
    <Button variant="default" id="remove-from-library" data-id={id}>Remove from Library</Button>
    
    <script>
        import { actions } from "astro:actions";

        const removeFromLibraryButton = document.getElementById("remove-from-library") as HTMLButtonElement;
        removeFromLibraryButton.addEventListener("click", async () => {
            const { error, data } = await actions.removeBook({
                id: Number(removeFromLibraryButton.dataset.id),
            })
            if (error) {
                console.error(error)
            }
            if (data) {
                window.location.href = "/";
            }
        });

    </script>
</BaseLayout>